<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ResolveCollectionSection" type="UTTool.Core.Configration.UTToolConfig,UTTool.Core"/>
  </configSections>
  <ResolveCollectionSection>
    <collection>
      <add name="Microsoft.AspNetCore.Mvc.Core" map="Microsoft.AspNetCore.Mvc.Core" preInstall="True" />
      <add name="System.Data.SqlClient" map="System.Data.SqlClient" preInstall="True" />
      <add name="Microsoft.Extensions.Hosting.Abstractions" map="Microsoft.Extensions.Hosting.Abstractions" preInstall="True" />
      <add name="Newtonsoft.Json" map="Newtonsoft.Json" preInstall="True" />
    </collection>
  </ResolveCollectionSection>
</configuration>